///
/// Set a rem font size with a pixel fallback for not supported * browsers
///
/// @example usage:
/// h1 {
///  @include font-size(32px)
/// }
/// @output
/// h1 {
///  font-size: 32px;
///  font-size: 2rem;
/// }
///
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}


///
/// Simple mixin for defining breakpoints
///
/// @example usage:
/// h1 {
///  color: black;
///  @include media(tablet) {
///    color: red;
///  }
/// }
/// @output
/// h1 {
///   color: black;
/// }
/// @media (min-width: 48rem) {
///  h1 {
///     color: red;
///  }
/// }
///
@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint ) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Can't value from `#{$breakpoint}'. "
      + "Please make sure the value is defined in `#{breakpoints}` map.";
  }
}

///
/// Simple mixin for add elevation for elements.
///
/// @example usage:
/// h1 {
///  @@include elevation(1)
/// }
/// @output
/// h1 {
///   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
/// }
///
@mixin elevation($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
